<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-sm-3">


            <!-- Inicio do menu de navegacao lateral -->

            <div class="panel panel-default panel-admin">
                <div id="colGroup1" role="tab" class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-target="#colListGroup1" aria-expanded="false"
                           aria-controls="collapseExample">
                            <span class="glyphicon glyphicon-user"></span>
                            Gerenciar Usuarios
                        </a>
                    </h4>
                </div>


                <div role="tabpanel" class="panel-collapse collapse" id="colListGroup1" aria-expanded="false">
                    <ul class="list-group">
                        <li class="list-group-item"><a href="">Chat</a></li>
                        <li class="list-group-item"><a href="">Home</a></li>
                        <li class="list-group-item"><a href="">Portifolio</a></li>
                        <li class="list-group-item"><a href="">Servicos</a></li>
                        <li class="list-group-item"><a href="">Quem Somos</a></li>
                    </ul>
                    <div class="panel-footer"></div>
                </div>
            </div>

            <div class="panel panel-default panel-admin">
                <div id="colGroup2" role="tab" class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-target="#colListGroup2" aria-expanded="false"
                           aria-controls="collapseExample">
                            <span class="glyphicon glyphicon-wrench"></span>
                            Gerenciar Servicos
                        </a>
                    </h4>
                </div>

                <div role="tabpanel" class="panel-collapse collapse" id="colListGroup2" aria-expanded="false">
                    <ul class="list-group">
                        <li class="list-group-item"><a href="">Chat</a></li>
                        <li class="list-group-item"><a href="">Home</a></li>
                        <li class="list-group-item"><a href="">Portifolio</a></li>
                        <li class="list-group-item"><a href="">Servicos</a></li>
                        <li class="list-group-item"><a href="">Quem Somos</a></li>
                    </ul>
                    <div class="panel-footer"></div>
                </div>
            </div>

            <div class="panel panel-default panel-admin">
                <div id="colGroup3" role="tab" class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-target="#colListGroup3" aria-expanded="false"
                           aria-controls="collapseExample">
                            <span class="glyphicon glyphicon-briefcase"></span>
                            Gerenciar Portifolio
                        </a>
                    </h4>
                </div>

                <div role="tabpanel" class="panel-collapse collapse" id="colListGroup3" aria-expanded="false">
                    <ul class="list-group">
                        <li class="list-group-item"><a href="">Chat</a></li>
                        <li class="list-group-item"><a href="">Home</a></li>
                        <li class="list-group-item"><a href="">Portifolio</a></li>
                        <li class="list-group-item"><a href="">Servicos</a></li>
                        <li class="list-group-item"><a href="">Quem Somos</a></li>
                    </ul>
                    <div class="panel-footer"></div>
                </div>
            </div>

            <div class="panel panel-default panel-admin">
                <div id="colGroup3" role="tab" class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-target="#colListGroup3" aria-expanded="false"
                           aria-controls="collapseExample">
                            <span class="glyphicon glyphicon-th-large"></span>
                            Gerenciar Quem Somos
                        </a>
                    </h4>
                </div>

                <div role="tabpanel" class="panel-collapse collapse" id="colListGroup3" aria-expanded="false">
                    <ul class="list-group">
                        <li class="list-group-item"><a href="">Chat</a></li>
                        <li class="list-group-item"><a href="">Home</a></li>
                        <li class="list-group-item"><a href="">Portifolio</a></li>
                        <li class="list-group-item"><a href="">Servicos</a></li>
                        <li class="list-group-item"><a href="">Quem Somos</a></li>
                    </ul>
                    <div class="panel-footer"></div>
                </div>
            </div>

            <div class="panel panel-default panel-admin">
                <div id="colGroup3" role="tab" class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-target="#colListGroup3" aria-expanded="false"
                           aria-controls="collapseExample">
                            <span class="glyphicon glyphicon-globe"></span>
                            Gerenciar Localizacao
                        </a>
                    </h4>
                </div>

                <div role="tabpanel" class="panel-collapse collapse" id="colListGroup3" aria-expanded="false">
                    <ul class="list-group">
                        <li class="list-group-item"><a href="">Chat</a></li>
                        <li class="list-group-item"><a href="">Home</a></li>
                        <li class="list-group-item"><a href="">Portifolio</a></li>
                        <li class="list-group-item"><a href="">Servicos</a></li>
                        <li class="list-group-item"><a href="">Quem Somos</a></li>
                    </ul>
                    <div class="panel-footer"></div>
                </div>
            </div>

            <div class="panel panel-default panel-admin">
                <div id="colGroup3" role="tab" class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-target="#colListGroup3" aria-expanded="false"
                           aria-controls="collapseExample">
                            <span class="glyphicon glyphicon-file"></span>
                            Gerenciar Artigos
                        </a>
                    </h4>
                </div>

                <div role="tabpanel" class="panel-collapse collapse" id="colListGroup3" aria-expanded="false">
                    <ul class="list-group">
                        <li class="list-group-item"><a href="">Chat</a></li>
                        <li class="list-group-item"><a href="">Home</a></li>
                        <li class="list-group-item"><a href="">Portifolio</a></li>
                        <li class="list-group-item"><a href="">Servicos</a></li>
                        <li class="list-group-item"><a href="">Quem Somos</a></li>
                    </ul>
                    <div class="panel-footer"></div>
                </div>
            </div>

            <!-- Fim do menu de navegacao lateral -->
        </div>
        <div class="col-md-9">
            <div class="estilo_painel">
                <div class="estilo_painel_int">

                    <ul class="nav nav-pills">
                        <li class=""><a href="">Mensagens<span class="badge">10</span></a></li>
                        <li class=""><a href="">Tarefas<span class="badge">2</span></a></li>
                        <li class=""><a href="">Aniversariantes<span class="badge">1</span></a></li>
                    </ul>

                    <div class="well well-sm">
                        <h2>Seja bem vindo {{user.firstname}} {{user.lastname}}</h2>
                        <p>Utilize o menu ao lado para navegar pelo painel administrativo</p>
                    </div>


                    <div class="row">
                        <div class="col-sm-4">
                            <h4>Ultimos artigos</h4>
                            <ul>
                                <li>Artigo 1</li>
                                <li>Artigo 2</li>
                                <li>Artigo 3</li>
                            </ul>
                            <a href="" class="btn btn-primary btn-block">Novo artigo</a>
                        </div>

                        <div class="col-sm-4">
                            <h4>Ultimos acessos</h4>
                            <ul>
                                <li>Acesso 1</li>
                                <li>Acesso 2</li>
                                <li>Acesso 3</li>
                            </ul>
                            <a href="" class="btn btn-primary btn-block">Novo acesso</a>
                        </div>

                        <div class="col-sm-4">
                            <h4>Ultimos Posts</h4>
                            <ul>
                                <li>Post 1</li>
                                <li>Post 2</li>
                                <li>Post 3</li>
                            </ul>
                            <a href="" class="btn btn-primary btn-block">Novo post</a>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>
</div>


