extends layout

block content
    .div_colorida
        .container
            .row
                .page-header
                    h1 Consultoria On-line
                        small.cabecalhoSmall tire todas suas dúvidas conosco

    section#chat

        if status

            div(class="container", ng-controller="clienteChatController", ng-show="exibirChat")
                .row
                    .col-xs-12
                    #salaChat
                        .col-xs-12
                            .col-xs-4
                                .row
                                    div(id="usuarioTitular", data-usuarioTitular="#{nickname}")
                                        .usuarioTitularImg
                                            .usuarioTitular_img
                                                img.img-circle(src='/images/default.jpg', alt='...', title="#{nickname}")
                            .col-xs-8
                                .row
                                    #usuarioSecundario
                                        div(ng-show="exibirBatePapo")
                                            .usuarioSecundarioImg
                                                .usuarioSecundario_img
                                                    img.img-circle(src="{{usuarioSecundarioFoto}}", alt='...')
                                            .usuarioSecundarioTxt
                                                .usuarioSecundario_txt
                                                    p
                                                        {{usuarioSecundarioNick}}
                        .col-xs-12
                            .col-xs-4
                                .row
                                    #usuarios
                                        div#usuario.list-group
                                            div(ng-repeat="consultor in consultores")
                                                button#nickUsuario.list-group-item(data-nome="{{consultor}}", type='button', class="{{consultor}}", ng-click="iniciarBatePapo(consultor)")
                                                    .usuario_img
                                                        img#teste.img-circle(src='/images/default.jpg', alt='...')
                                                        div#online(ng-show="online == true")
                                                        div#offline(ng-show="offline == true")
                                                    .usuario_txt
                                                        p
                                                            {{consultor}}

                            .col-xs-8
                                    .row
                                        #mensagens
                                        form#frmMensagens
                                            .form-group
                                                .input-group
                                                    input#cpMensagem.form-control(type='text', placeholder='Digite uma mensagem', required='', ng-model="novaMensagem", ng-keyup="$event.keyCode == 13 ? enviarmensagem() : null")
                                                    span.input-group-btn
                                                        //input.btn.btn-default(type='submit', value='Enviar')
                                                        button.btn.btn-default(type='button', ng-click="enviarmensagem()") Enviar
        else
            .alert.alert-info.alertaChat.container
                p #{msg}



  