<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Entre com seu login e senha
                <div class="account-wall">
                    <img class="profile-img" src=''>
                    <form class="form-signin" action="/admin" method="POST">
                        <input type="text" name="username" class="form-control" placeholder="Usuário" required autofocus />
                        <input type="password" name="password" class="form-control" placeholder="Senha" required />
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
                        <span class="clearfix"></span>
                    </form>
                </div>
                {{#if message}}
                <div class="alert alert-danger alert-login" role="alert">{{message}}</div>
                {{/if}}
                <a href="/admin/signup" class="text-center new-account">Crie uma nova Conta</a>
            </h1>
        </div>
    </div>
</div>
