extends layout

block content
    .div_colorida
        .container
            .row
                .page-header
                    h1 Portif&oacute;lio
                section#portifolio.section-interna
                    .container
                        .row
                            .col-xs-12
                                .page-header
                                    ul#myTabs.nav.nav-tabs.nav-justified(role='tablist')
                                        li.active(role='presentation')
                                            a(href='#civil', aria-controls='home', role='tab', data-toggle='tab') Direito Civil
                                        li(role='presentation')
                                            a(href='#penal', aria-controls='profile', role='tab', data-toggle='tab') Direito Penal
                                        li(role='presentation')
                                            a(href='#trabalho', aria-controls='messages', role='tab', data-toggle='tab') Direito do Trabalho
                                        li(role='presentation')
                                            a(href='#consumidor', aria-controls='settings', role='tab', data-toggle='tab') Direito do Consumidor
                        .tab-content
                            #civil.container.tab-pane.fade.in.active(role='tabpanel')
                                .row.portifolio-row
                                    .col-xs-12.col-sm-6.col-md-4.col-lg-3
                                        .portifolio_item
                                            div
                                                img.img-responsive.grayscale(src='/images/foto2.jpg')
                                            h4 Agrale
                                    .col-xs-12.col-sm-6.col-md-4.col-lg-3
                                        .portifolio_item
                                            div
                                                img.img-responsive.grayscale(src='/images/foto2.jpg')
                                            h4 Azal&eacute;ia
                                    .col-xs-12.col-sm-6.col-md-4.col-lg-3
                                        .portifolio_item
                                            div
                                                img.img-responsive.grayscale(src='/images/foto2.jpg')
                                            h4 Gerdau
                                    .col-xs-12.col-sm-6.col-md-4.col-lg-3
                                        .portifolio_item
                                            div
                                                img.img-responsive.grayscale(src='/images/foto2.jpg')
                                            h4 Grendene
                            #penal.container.tab-pane.fade.in(role='tabpanel')
                                .row.portifolio-row
                                    .col-xs-12.col-sm-6.col-md-4.col-lg-3
                                        .portifolio_item
                                            div
                                                img.img-responsive.grayscale(src='/images/foto2.jpg')
                                            h4 Agrale
                                    .col-xs-12.col-sm-6.col-md-4.col-lg-3
                                        .portifolio_item
                                            div
                                                img.img-responsive.grayscale(src='/images/foto2.jpg')
                                            h4 Azal&eacute;ia
                            #consumidor.container.tab-pane.fade.in(role='tabpanel')
                                .row.portifolio-row
                                    .col-xs-12.col-sm-6.col-md-4.col-lg-3
                                        .portifolio_item
                                            div
                                                img.img-responsive.grayscale(src='/images/foto2.jpg')
                                            h4 Agrale
                                    .col-xs-12.col-sm-6.col-md-4.col-lg-3
                                        .portifolio_item
                                            div
                                                img.img-responsive.grayscale(src='/images/foto2.jpg')
                                            h4 Azal&eacute;ia
                                    .col-xs-12.col-sm-6.col-md-4.col-lg-3
                                        .portifolio_item
                                            div
                                                img.img-responsive.grayscale(src='/images/foto2.jpg')
                                            h4 Gerdau
                            #trabalho.container.tab-pane.fade.in(role='tabpanel')
                                .row.portifolio-row
                                    .col-xs-12.col-sm-6.col-md-4.col-lg-3
                                        .portifolio_item
                                            div
                                                img.img-responsive.grayscale(src='/images/foto2.jpg')
                                            h4 Agrale
                                    .col-xs-12.col-sm-6.col-md-4.col-lg-3
                                        .portifolio_item
                                            div
                                                img.img-responsive.grayscale(src='/images/foto2.jpg')
                                            h4 Azal&eacute;ia
                                    .col-xs-12.col-sm-6.col-md-4.col-lg-3
                                        .portifolio_item
                                            div
                                                img.img-responsive.grayscale(src='/images/foto2.jpg')
                                            h4 Gerdau
                                    .col-xs-12.col-sm-6.col-md-4.col-lg-3
                                        .portifolio_item
                                            div
                                                img.img-responsive.grayscale(src='/images/foto2.jpg')
                                            h4 Grendene
                // Fim Portifolio
