extends layout

block content
    .div_colorida
        .container
            .row
                .page-header
                    h1 Quem Somos
                section#quemsomos
                    .container
                        .row
                            .col-xs-12
                                .col-xs-12.col-md-4(class='col-sm=4')
                                    img.img-responsive(src='/images/personagem1.jpg')
                                .col-xs-12.col-sm-8.col-md-8
                                    .col-xs-12.quemsomosSobremim
                                        h4 Sobre Mim
                                        p Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis.
                                    .col-xs-12.co-sm-6.col-md-6
                                        p Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, velillum dolore eu feugiat.At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,no seatakimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmodtempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                                    .col-xs-12.co-sm-6.col-md-6
                                        p Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, velillum dolore eu feugiat.At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,no seatakimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmodtempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                                    .col-xs-6.btn-todos
                                        a.btn.btn-primary.btn-lg(href='#') Entre em contato

                        .row.formacao
                            .col-xs-12
                                h2 Forma&ccedil;&atilde;o
                                dl.dl-horizontal
                                    dt Description lists
                                    dd A description list is perfect for defining terms.
                                    dt Euismod
                                    dd Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
                                    dd Donec id elit non mi porta gravida at eget metus.
                                    dt Malesuada porta
                                    dd Etiam porta sem malesuada magna mollis euismod.
                                    dt Felis euismod semper eget lacinia
                                    dd Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                                    dt Description lists
                                    dd A description list is perfect for defining terms.
                                    dt Euismod
                                    dd Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
                                    dd Donec id elit non mi porta gravida at eget metus.
                                    dt Malesuada porta
                                    dd Etiam porta sem malesuada magna mollis euismod.
                                    dt Felis euismod semper eget lacinia
                                    dd Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                // FimQuem somos
