extends layout

block content
    .div_colorida
        .container
          .row
            .page-header
              h1 Servi&ccedil;os
                small Conheca nossas especialidades
      section#servicos
        .container
          .row.page-servicos-row
            .col-xs-12.col-md-6.servicos_item
              .col-md-6
                img.img-responsive.img-circle(src='/images/consultoria1.jpg')
              .col-md-6
                h5 Consultoria On-line
                p descricao do servico apresentado. texto texto texto texto texto texto descricao do servico apresentado. texto texto texto texto texto texto descricao do servico apresentado. texto texto texto texto texto texto
                a.btn.btn-default.btn-md(href='/admin/painel') Iniciar Consultoria
            .col-xs-12.col-md-6.servicos_item
              .col-md-6
                img.img-responsive.img-circle(src='/images/consultoria2.jpg')
              .col-md-6
                h5 Consultoria Presencial
                p descricao do servico apresentado. texto texto texto texto texto texto descricao do servico apresentado. texto texto texto texto texto texto descricao do servico apresentado. texto texto texto texto texto texto
              .row.page-servicos-row
            .col-xs-12.col-md-6.servicos_item
              .col-md-6
                img.img-responsive.img-circle(src='/images/penal.png')
              .col-md-6
                h5 Direito Penal
                p descricao do servico apresentado. texto texto texto texto texto texto descricao do servico apresentado. texto texto texto texto texto texto descricao do servico apresentado. texto texto texto texto texto texto
            .col-xs-12.col-md-6.servicos_item
              .col-md-6
                img.img-responsive.img-circle(src='/images/civel.jpg')
              .col-md-6
                h5 Direito Civil
                p descricao do servico apresentado. texto texto texto texto texto texto descricao do servico apresentado. texto texto texto texto texto texto descricao do servico apresentado. texto texto texto texto texto texto
              .row.page-servicos-row
            .col-xs-12.col-md-6.servicos_item
              .col-md-6
                img.img-responsive.img-circle(src='/images/trabalho.jpg')
              .col-md-6
                h5 Direito do Trabalho
                p descricao do servico apresentado. texto texto texto texto texto texto descricao do servico apresentado. texto texto texto texto texto texto descricao do servico apresentado. texto texto texto texto texto texto
            .col-xs-12.col-md-6.servicos_item
              .col-md-6
                img.img-responsive.img-circle(src='/images/consumidor.png')
              .col-md-6
                h5 Direito do Consumidor
                p descricao do servico apresentado. texto texto texto texto texto texto descricao do servico apresentado. texto texto texto texto texto texto descricao do servico apresentado. texto texto texto texto texto texto

  