.error{
    width: 100%;
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
    border-radius: 4px;
    padding: 15px;
    margin-top: 5px;
    text-align: center;
}



.botaoAddSocial{
    margin-bottom: 10px !important;
}
.tabela_cabecalho{
    background: #1b6d85;
    color:#fff;
}

.btnEditar{
    float: left;
    margin-right: 4px;
}

.formExcluir{
    float: left;
}


.alertas{
    margin-top: 15px;
}


/*INICIO EFEITO FADE NOS ALERTS*/

.alert{
    -webkit-animation: fadein 2.5s; /* Safari and Chrome */
    -moz-animation: fadein 2.5s; /* Firefox */
    -ms-animation: fadein 2.5s; /* Internet Explorer */
    -o-animation: fadein 2.5s; /* Opera */
    animation: fadein 2.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​

/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​
/*FIM EFEITO FADE NOS ALERTS*/


/*INICIO CSS clienteChat*/
#telaUsername{
    margin-bottom: 15px;
}

#usuarios{
    background: url("../images/bedge_grunge.png");
    height: 400px;
    overflow: scroll;
    overflow-x: hidden;
}

#usuarios img{
    width: 50px;
    height: 50px;
}

.usuario_img{
    width:17%;
    float: left;
    margin-right: 8px;
}

.usuario_txt{
    width: 80%;
    float: left;
    font-weight: bold;
}

#mensagens{
    /*background: #c9e2b3;*/
    background: url("../images/bedge_grunge.png");
    height: 400px;
    margin-bottom: 15px;
    padding: 5px;
    overflow: scroll;
    overflow-x: hidden;
}

#contemMsg{
    float: left;
    width: 100%;
}

#msgUm{
    float: left;
    background: #fff;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
    padding: 4px;
    margin-bottom: 5px;
}

#msgDois{
    float: right;
    background: #C1FFC1;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
    padding: 4px;
    margin-bottom: 5px;
}

.usuarioImg{
    width: 70px;
    height: 70px;
    float: left;
    background: #DCDCDC;
}

.usuarioTxt{
    float: left;
}


#usuarioTitular{
    width: 100%;
    float: left;
    background: #333;
    padding: 4px 0;
    border-right: 1px solid #DCDCDC;
}

#usuarioTitular img{
    width: 45px;
    height: 45px;
    margin-left: 20px;
}

.usuarioTitularImg{
    float: left;
}

.usuarioTitularTxt{
    float: left;
}

.usuarioTitular_img{
    width:17%;
    float: left;
    margin-right: 8px;
}

.usuarioTitular_txt{
    width: 80%;
    float: left;
    font-weight: bold;
}

#usuarioSecundario{
    width: 100%;
    height: 53px;
    background: #333;
    padding: 4px 0;
}

#usuarioSecundario img{
    width: 45px;
    height: 45px;
    margin-left: 7px;
}

.usuarioSecundarioImg{;
    float: left;

}

.usuarioSecundarioTxt{
    float: left;
}

.usuarioSecundario_img{
    width:17%;
    float: left;
    margin-right: 8px;
}

.usuarioSecundario_txt{
    float: left;
}

.usuarioSecundario_txt p {
    color: #fff;
    font-weight: bold;
}

.cpMensagem{
    width: 100%;
}

.dataAtual{
    color: #c0c0c0;
}

#online{
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background: #449d44;
    float: right;
    margin-top: -10px;

}

#offline{
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background: #f00000;
    float: right;
    margin-top: -10px;

}

.alertaChat p{
    font-size: 16px;
    font-weight: bold;
    text-align: center;

}

.box-background{
    background: url("../images/shattered.png");
}

/*FIM CSS clienteChat*/