.botaoAddSocial{
    margin-bottom: 10px !important;
}
.tabela_cabecalho{
    background: #1b6d85;
    color:#fff;
}

.btnEditar{
    float: left;
    margin-right: 4px;
}

.formExcluir{
    float: left;
}