body{
    padding-top: 50px;
}

.divslider{

}

img.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

img.grayscale:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
}

section{
    padding-top: 25px;
    padding-bottom: 15px;
    min-height: 100vh;
}

section#login{
    min-height: 63vh;
}

section#servicos{
    min-height: 50vh;
}

section#portifolio{
    min-height: 60vh;
}

section#pagina-portifolio{
    padding-top: 25px;
    padding-bottom: 15px;
    min-height: 100vh;
}

section#quemsomos{
    min-height: 60vh;
}

section#nossa-equipe{
    min-height: 60vh;
}


section#localizacao{
    min-height: 60vh;
}

section#contato{
    min-height: 60vh;
}

footer{
    padding-top: 30px;
    padding-bottom: 30px;
    color: #777;
}

.div_colorida{
    background: url("../images/bgMooning.png");
}

.servicos_item *{
    text-align: center;
}

.servicos_item h4{
    margin-top: 20px;
    font-size: 25px;
}

.servicos_item img{
    margin: 0 auto;
}

.portifolio_item{
    background: #fff;
    text-align: center;
}

.portifolio_item h4{
    font-size: 20px;
    padding-bottom: 10px;

}

.portifolio-row{
    margin-bottom: 20px;
}

.quemSomos-img{
    margin: 0 auto;
    margin-bottom: 10px;
}

.row-quemSomos{
    margin-bottom: 20px;
}


.btn-todos{
    margin-top: 35px;
}

.contato textarea{
    height: 168px;
}

.contato .aviso{
    padding: 15px;
}

.envio-realizado{
    display: none;
}

.envio-nao-realizado{
    display: none;
}

.rodape-direita{
    padding-top: 10px;
    font-size: 15px;
}

.icon-rodape{
    float: right;
}

.end-rodape{
    padding-top: 10px;
    font-size: 15px;
}

.nossaEquipe-item{

    margin-top: 50px;

}

.section-interna{
    padding-top: 0;
}

.quemsomosSobremim{
    margin-bottom: 20px;
}

.formacao{
    margin-top: 30px;
}

.formacao h2{
    margin-bottom: 30px;
}

.page-servicos-row{
    margin-bottom: 50px;
}

.page-servicos-row h5{
    font-size: 18px;
    font-weight: bold;
}

.form-login{
    max-width: 350px;
    margin: 50px auto 0;
    padding: 10px;
    border-radius: 10px;
    background: #eee;
}

.form-login input{
    margin-bottom: 10px;
}

.panel-admin{
    margin-bottom: 0px;
}

/*INICIO FORM LOGIN E REGISTER*/
.form-signin{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox{
    margin-bottom: 10px;
}
.form-signin .checkbox{
    font-weight: normal;
}
.form-signin .form-control{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus{
    z-index: 2;
}
.form-signin input[type="text"]{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin input[type="password"].nomargin{
    margin-bottom: 0px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.signup-wall{
    margin-top: 20px;
    padding: 20px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.new-account{
    display: block;
    margin-top: 10px;
}
h1.error-message{
    color: red;
}
ul.user-details{
    list-style: none;
}

.alert-login{
    margin-top: 10px;
}
/*FIM FORM LOGIN E REGISTER*/